@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Nunito&display=swap');
  /* font-family: 'Nunito', sans-serif; */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
  /* font-family: 'Roboto', sans-serif; */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid white; */
}
body{
  background-color: #000000;
}

.root{
  color:white;
}

