.trend_heading_seeAll{
    display: flex;
    justify-content: space-between;
    padding:1rem 1rem 0rem 1rem;

}

.trending{
    margin-top: 0.3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 5px;
}

.seeAll{
    text-decoration: none;
    color: white;
    border: 0.5px solid rgb(107, 104, 104);
    padding:0.5rem;
    border-radius: 2rem;
}
.seeAll:hover{
    background-color: #334155;
}